<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Ustawienia</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="darkSwitch">Tryb ciemny</label><br>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="darkSwitch" />
                <label class="custom-control-label" for="darkSwitch"></label>
            </div>
        </div>
        <div class="form-group">
            <label for="fontSizeOption">Wielkość czcionki</label>
            <form [formGroup]="fontSizeForm">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" formControlName="fontSizeOption" name="fontSizeOption" id="small" value="small">
                    <label class="form-check-label" for="fontSizeSmall" style="font-size: 16px !important;">Mała</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" formControlName="fontSizeOption" name="fontSizeOption" id="medium" value="medium">
                    <label class="form-check-label" for="fontSizeMedium" style="font-size: 20px !important;">Średnia</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" formControlName="fontSizeOption" name="fontSizeOption" id="large" value="large">
                    <label class="form-check-label" for="fontSizeLarge" style="font-size: 24px !important;">Duża</label>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">Zamknij</button>
    </div>
</ng-template>

<button id="settings-button" class="btn" (click)="open(content)"></button>